{erl_opts, [debug_info, nowarn_export_all]}.

{deps, [{opencensus, "~> 0.9"}]}.

{profiles, [{test, [{deps, [elli]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, [{oc_sampler_impl, should_sample, 3}]}.

{project_plugins, [{rebar_covertool, "1.1.0"},
                   rebar3_lint]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
